//*********************************************************************//
//                              settings                               //
//*********************************************************************//

// value settings
$dark1: rgba(0,0,0,0.87);
$dark2: rgba(0,0,0,0.54);
$dark3: rgba(0,0,0,0.26);
$dark4: rgba(0,0,0,0.12);
$dark5: rgba(0,0,0,0.5);
$dark6: #464646;
$light1: rgba(255,255,255,1);
$light2: rgba(255,255,255,0.54);
$light3: rgba(255,255,255,0.26);
$light4: rgba(255,255,255,0.12);
$bg1: #fff;
$bg2: #f5f5f5;
$bg3: #eee;
$bg4: #333;
$bg5: #f9f9f9;
$primary1: #5f5f5f;
$primary2: #afd9b6;
$primary3: #d4e9dd;
$accent1: #d0c3ae;
$accent2: #e8e4d9;
$accent3: #75484e;
$shadow1: 0 1px 4px rgba(0,0,0,0.35);
$shadow2: 0 4px 4px rgba(0,0,0,0.35);
/*$bg_img: url(../images/35.jpg);
$header_title_bg: url(../images/header_bg.gif) repeat-x;*/
$easing1: cubic-bezier(0.15, 0.95, 0.41, 0.95);

$slide-bg: #efd92b;