//*********************************************************************//
//                              settings                               //
//*********************************************************************//

@import "colors";


// responsive break points
$phone_portrait-max: 29.99em;  // 479px
$phone_landscape-min: 30em;  // 480px
$phone_landscape-max: 47.99em;  // 767px
$pad_portrait-min: 48em;  // 768px
$pad_portrait-max: 63.99em;  // 1023px
$pad_landscape-min: 64em;  // 1024px
$pad_landscape-max: 74.99em;  // 1199px
$pc-min: 75em;  // 1200px


// functions
@mixin box-sizing ($value) {
  -webkit-box-sizing: $value;
  box-sizing: $value;
}
@mixin transform ($value) {
  -webkit-transform: $value;
  transform: $value;
}
@mixin transform-origin ($value) {
  -webkit-transform-origin: $value;
  transform-origin: $value;
}
@mixin transition ($value) {
  -webkit-transition: $value;
  transition: $value;
}
@mixin transition-transform ($value1,$value2) {
  -webkit-transition: -webkit-transform $value1 $value2;
  transition: transform $value1 $value2;
}
@mixin prefix-transition ($value) {
  -webkit-transition: -webkit-$value;
  transition: $value;
}
@mixin animation ($value) {
  -webkit-animation: $value;
  animation: $value;
}
@mixin display-flex () {
  display: -webkit-flex;
  display: flex;
}
@mixin flex-flow ($value) {
  -webkit-flex-flow: $value;
  flex-flow: $value;
}
@mixin order ($value) {
  -webkit-order: $value;
  order: $value;
}
@mixin flex ($value) {
  -webkit-flex: $value;
  flex: $value;
}
@mixin justify-content ($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}
@mixin align-items ($value) {
  -webkit-align-items: $value;
  align-items: $value;
}
@mixin align-content ($value) {
  -webkit-align-content: $value;
  align-content: $value;
}
@mixin aColor ($value) {
  color: $value;
  &:active {
    color: $value;
  }
  &:visited {
    color: $value;
  }
  &:hover {
    color: lighten($value,15%);
  }
}

//*********************************************************************//
//                               global                                //
//*********************************************************************//


* {
  @include box-sizing (content-box);
}
html, body{
  height:100%;
}
body {
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif, "Hiragino Sans GB", "Microsoft YaHei", "Î¢ÈíÑÅºÚ","STHeiti", "WenQuanYi Micro Hei";
  font-size: 1em;
  color: $dark1;
  background-color: $bg5;
}
a {
  @include aColor ($primary1);
}
input, textarea, button {
  font-family: 'Open Sans', sans-serif, "Hiragino Sans GB", "Microsoft YaHei", "Î¢ÈíÑÅºÚ","STHeiti", "WenQuanYi Micro Hei";
}
::selection {
  background: $primary1;
  color: $light1;
}
::-moz-selection {
  background: $primary1;
  color: $light1;
}
// phone
@media only screen and (max-width: $phone_landscape-max){
  #main {
    padding: 0 0 0;
  }
}
// pc
@media only screen and (min-width: $pc-min){
  .main-wrapper {
    max-width: 68.75em;  // 1100px
    margin: auto;
    /*position: relative;*/
  }
  .post-wrapper {
    max-width: 50em;  // 800px
    margin: auto;
    position: relative;
  }
  .page-wrapper {
    max-width: 75em;  // 1200px
    margin: auto;
    position: relative;
  }
}


//*********************************************************************//
//                               slides                                //
//*********************************************************************//

.show-resume {
  overflow: hidden;
  .page-holder {
    overflow: hidden;
  }
  .slides-wrap {
    display: block;
  }
}
.page-holder {
  height: 100%;
}
.slides-wrap {
  display: none;
  height: 100%;
  position: relative;
  z-index: 2;
}
.slides {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  .slide {
    display: none;
    /*display: table;*/
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $slide-bg;
    overflow: hidden;
    .slide-cell {
      /*display: table-cell;*/
      vertical-align: middle;
      width: 100%;
      height: 100%;
      .avatar {
        width: 256px;
        height: 256px;
        border: 10px solid #aee2d9;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      h1 {
        font-size: 3.5em;
        margin: 0 0 .5em 0;
        text-align: center;
        text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
      }
      h1.name {
        margin: .5em 0 0 0;
      }
      .intro {
        margin: 1em 0 .25em 0;
        font-size: 1.1em;
        color: #aee2d9;
      }
      .job {
        font-size: 1.25em;
        margin: 0 0 .1em 0;
      }
      .email {
        font-size: 1.1em;
        marign: .5em 0;
        color: #9f3;
      }
    }
  }
  .slide.active {
    display: block;
    z-index: 50;
  }
  .slide.over {
     z-index: 60;
   }
  .slide.under {
    z-index: 10;
  }
}

//*********************************************************************//
//                            slides-nav                               //
//*********************************************************************//
.slides-nav {
  position: absolute;
  top: 50%;
  right: 40px;
  margin: -10px 0 0;
  z-index: 100;
  .prev, .next {
    display: block;
    width: 12px;
    height: 14px;
    padding: 6px;
    line-height: 50px;
    position: absolute;
    i {
      display: block;
      width: 14px;
      height: 12px;
      background-image: url(../images/slides-arrow.png);
      background-repeat: no-repeat;
    }
  }
  .prev {
    top: -40px;
    left: -7px;
    i {
      background-position: 0 0;
    }
  }
  .next {
    bottom: -31px;
    left: -7px;
    i {
      background-position:  0 -14px;
    }
  }
  .dots {
    float:left;
    margin: - 100% 0 0;
    position: relative;
    a {
      display: block;
      float: left;
      width: 10px;
      height: 10px;
      margin: 5px 0;
      clear: both;
      background-color: #fff;
      border-radius: 10px;
      opacity: .4;
    }
    a.active {
      opacity: 1;
    }
  }
}
.first {
  .slides-nav {
    .prev {
      display: none;
    }
  }
}